<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wengzw.blood.common.dao.mybaits.SysLogMapper">
    <!--插入操作日志-->
<!--    <insert id="insert">-->
<!--        insert into sys_log(user_id, operation_description, operation_type, operation_result, client_ip)-->
<!--        values (#{userId}, #{operationDescription}, #{operationType}, #{operationResult}, #{clientIp})-->
<!--    </insert>-->

    <!--获取操作日志列表-->
    <select id="list" resultType="com.wengzw.blood.common.entity.SysLog">
        select user_id, operation_description, operation_type, IF(operation_result = 0, '失败', '成功') as operation_result,
        client_ip, create_time
        from sys_log
        <where>
            <if test="userId != null">and user_id = #{userId}</if>
            <if test="operationDescription != null">
                and operation_description like concat('%',#{operationDescription},'%')
            </if>
            <if test="operationType != null">and operation_type = #{operationType}</if>
            <if test="operationResult != null">and operation_result = #{operationResult}</if>
            <if test="clientIp != null">and client_ip = #{clientIp}</if>
            <if test="startTime != null">and create_time >= #{createTime}</if>
            <if test="endTime != null">and create_time &lt;= #{createTime}</if>
        </where>
        order by create_time desc
    </select>
</mapper>
